# LLM / OpenAI
openai_api_key=YOUR_TOKEN
openai_base_url=https://api.vsegpt.ru/v1
llm_model_name=openai/gpt-4o-mini

# Embeddings
LOCAL_EMBEDDER_PATH=gte-multilingual-base

# RAG
WORKING_DIR=light_rag_db_v2
ABBREVIATIONS_FILE=resources/full_abbreviations_updated.json

# LINKS
URLS_PATH=resources/validated_urls.json
MAX_Links=3
